* {
  box-sizing: border-box;
  transition: .3s;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

p, ul, h1, h2 {
  margin: 0;
}

.page-wrap {
  overflow-x: hidden;
}

.container {
  width: 1170px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 1199px) and (min-width: 980px) {
  .container {
    width: 940px;
  }
}

@media screen and (max-width: 979px) and (min-width: 769px) {
  .container {
    width: 750px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 35px;
  }
}

section {
  padding-top: 50px;
}

.flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.column-direction {
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

.justify-center {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.page-header__panel {
  padding: 30px;
}

.page-header__panel li {
  display: inline;
}

.page-header__panel a {
  padding: 5px 10px;
  text-decoration: none;
  color: #212121;
}

.page-header__panel a:hover {
  color: #009688;
}

.page-header__promo {
  height: 600px;
  background: url("../img/main-bg.jpg") no-repeat;
  background-size: cover;
}

.page-header__title {
  padding-top: 200px;
  text-align: center;
}

.page-header__description {
  text-align: center;
}
