* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #757575;
  background-color: #fff;
}

p, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2307em;
  margin-top: 0;
}

h2 {
  font-size: 35px;
  margin-bottom: 32px;
}

body, .page-wrap {
  overflow-x: hidden;
}

a, button {
  transition: .3s;
}

.container {
  width: 1170px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (max-width: 1199px) and (min-width: 980px) {
  .container {
    width: 940px;
  }
}

@media screen and (max-width: 979px) and (min-width: 769px) {
  .container {
    width: 750px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 35px;
  }
}

section {
  padding-top: 50px;
}

.flexbox, .page-header__promo, .owl-carousel .owl-item, .order__form-group {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.column-direction, .order__form-group {
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

.row-direction {
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

.justify-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-center, .portfolio .row, .owl-carousel .owl-item, .order .row {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.end-lg,
.end-md,
.end-sm,
.end-xs {
  display: -ms-flexbox;
  -ms-flex-pack: end;
}

.page-header {
  transition: .3s;
}

.page-header__logo {
  z-index: 10000;
}

.page-header__logo span {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(0, 150, 136, 0.7);
  position: relative;
}

.page-header__logo span::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(178, 223, 219, 0.8);
  top: 25%;
  right: -8px;
}

.page-header__logo label {
  margin-top: -19px;
  margin-left: 30px;
  position: absolute;
  color: #212121;
  font-size: 17px;
  font-weight: 500;
}

.page-header__panel {
  padding: 20px 30px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: .3s;
}

.page-header__panel li {
  display: inline;
  list-style: none;
}

.page-header__panel a {
  font-size: 15px;
  line-height: 26px;
  padding: 5px 10px;
  text-decoration: none;
  color: #212121;
}

.page-header__panel a:hover {
  color: #009688;
}

.page-header__shadow {
  display: none;
}

.page-header__menu-checkbox {
  display: none;
}

.page-header__menu-toggle {
  display: none;
  font-size: 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
}

.page-header__menu-toggle span {
  width: 24px;
  height: 4px;
  display: block;
  background-color: #212121;
  border-radius: 2px;
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -12px;
}

.page-header__menu-toggle span::before, .page-header__menu-toggle span::after {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 4px;
  background-color: #212121;
  border-radius: 2px;
  transition: .7s;
}

.page-header__menu-toggle span::before {
  top: -8px;
}

.page-header__menu-toggle span::after {
  top: 8px;
}

.page-header__promo {
  height: 700px;
  background: url("../img/main-bg-min.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #FFFFFF;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__promo::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.8);
}

.page-header__wrap {
  padding: 0px 20px;
  background: none;
  display: inline-block;
  width: 100%;
  white-space: normal;
  position: relative;
}

.page-header__title {
  font-size: 45px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}

.page-header__description {
  font-weight: 300;
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 35px;
  text-align: center;
}

.page-header__actions {
  text-align: center;
}

.page-header__action-button {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  max-width: 158px;
  margin: 0 2px;
  padding: 13px 20px 14px;
  border-radius: 1000px;
}

.page-header__action-button--order-now {
  background-color: #009688;
}

.page-header__action-button--order-now:hover {
  background-color: #212121;
}

.page-header__action-button--learn-more {
  border: 1px solid #FFFFFF;
  padding-top: 12px;
  padding-bottom: 13px;
}

.page-header__action-button--learn-more:hover {
  background-color: #FFFFFF;
  color: #009688;
}

.page-header__mouse-icon {
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -12px;
}

.page-header__mouse-wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .page-header__panel {
    padding: 15px 30px;
  }
  .page-header__panel .row {
    position: relative;
  }
  .page-header__shadow {
    display: block;
    margin: 0;
    position: absolute;
    bottom: -15px;
    width: 120%;
    height: 67px;
    left: -10%;
    background: white;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
    border: none;
  }
  .page-header__menu {
    position: fixed;
    top: 60px;
    z-index: 2;
    background-color: white;
    right: 0;
    bottom: -20px;
    width: 180px;
    line-height: 20px;
    overflow: auto;
    -webkit-transform: translateX(250px);
        -ms-transform: translateX(250px);
            transform: translateX(250px);
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
  }
  .page-header__menu li {
    display: list-item;
  }
  .page-header__menu li:first-child {
    margin-top: 7px;
  }
  .page-header__menu a {
    padding: 14px 25px 16px;
    display: block;
    color: #009688;
    transition: all 0.2s ease;
  }
  .page-header__menu a:hover {
    color: #fff;
    background-color: #00796B;
  }
  .page-header__menu-toggle {
    display: inline-block;
    position: relative;
    z-index: 4;
  }
  .page-header__menu-checkbox:checked + .page-header__menu-toggle + .page-header__menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .page-header__menu-checkbox:checked + .page-header__menu-toggle span {
    background-color: transparent;
  }
  .page-header__menu-checkbox:checked + .page-header__menu-toggle span::before,
  .page-header__menu-checkbox:checked + .page-header__menu-toggle span::after {
    top: 0;
  }
  .page-header__menu-checkbox:checked + .page-header__menu-toggle span::before {
    -webkit-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  .page-header__menu-checkbox:checked + .page-header__menu-toggle span::after {
    -webkit-transform: rotate(-405deg);
        -ms-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@media (max-width: 479px) {
  .page-header__action-button {
    margin-bottom: 10px;
  }
}

section h2 {
  color: #212121;
  text-align: center;
  font-size: 35px;
  margin-bottom: 32px;
}

.present-site__description {
  color: #757575;
  text-align: center;
  padding-bottom: 30px;
}

.present-site__item {
  text-align: center;
  margin-bottom: 45px;
}

.present-site__item-image {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  max-height: 240px;
  transition: all 0.5s ease;
}

.present-site__item-image::before, .present-site__item-image::after {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 3;
}

.present-site__item-image::before {
  border-top: 10px solid #B2DFDB;
  border-left: 10px solid #B2DFDB;
  top: 0px;
  left: 0px;
  right: 100%;
  bottom: 100%;
}

.present-site__item-image::after {
  border-bottom: 10px solid #B2DFDB;
  border-right: 10px solid #B2DFDB;
  left: 100%;
  top: 100%;
  bottom: 0px;
  right: 0px;
}

.present-site__item-image:hover::before {
  opacity: 1;
  bottom: 0px;
  right: 0px;
}

.present-site__item-image:hover::after {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.present-site__item-image img {
  max-width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.present-site__item-image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.present-site__item-title {
  color: #009688;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.present-site__item-description {
  text-align: center;
  margin: 0;
  padding-bottom: 23px;
}

.showcase {
  background-color: #f6f8fa;
}

.showcase__item {
  padding: 0 0 0 30px;
  margin-bottom: 45px;
  text-align: center;
}

.showcase__item-icon {
  color: #009688;
}

.showcase__item-icon i {
  font-size: 84px;
}

.showcase__item-title {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.showcase__item-description {
  margin-bottom: 10px;
}

.showcase__item-description li {
  list-style: none;
}

.showcase__item-price {
  font-size: 15px;
  color: #009688;
  cursor: pointer;
}

.showcase__item-price:hover {
  color: #212121;
}

@media screen and (max-width: 768px) {
  .showcase__item {
    padding: 0;
  }
}

.about {
  background: url(../img/about-bg-min.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
  background-attachment: fixed;
}

.about::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.9);
}

.about__title {
  color: #fff;
}

.about__description {
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

.portfolio {
  padding-bottom: 50px;
}

.portfolio__wrap {
  padding: 5px;
  width: 25%;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  min-width: 200px;
}

.portfolio__wrap .hovereffect {
  position: relative;
  max-height: 350px;
  overflow: hidden;
}

.portfolio__wrap img {
  width: 100%;
  height: auto;
  transition: .3s ease-in-out;
}

.portfolio__wrap .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;
}

.portfolio__wrap .overlay::before, .portfolio__wrap .overlay::after {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 3;
}

.portfolio__wrap .overlay::before {
  border-top: 10px solid #B2DFDB;
  border-left: 10px solid #B2DFDB;
  top: 0px;
  left: 0px;
  right: 100%;
  bottom: 100%;
}

.portfolio__wrap .overlay::after {
  border-bottom: 10px solid #B2DFDB;
  border-right: 10px solid #B2DFDB;
  left: 100%;
  top: 100%;
  bottom: 0px;
  right: 0px;
}

.portfolio__wrap .overlay:hover::before {
  opacity: 1;
  bottom: 0px;
  right: 0px;
}

.portfolio__wrap .overlay:hover::after {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.portfolio__wrap .overlay h3 {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding: 7px 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.portfolio__wrap .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17.5px;
  margin-left: -37.6px;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  z-index: 6;
}

.portfolio__wrap:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__wrap:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .portfolio .overlay {
    opacity: 1;
  }
}

.testimonials {
  padding-bottom: 50px;
  color: #fff;
  background: url(../img/testimonials-bg-min.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
  background-attachment: fixed;
}

.testimonials__title {
  color: #fff;
}

.testimonials::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.9);
}

.testimonials__carousel-item h4 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 34px;
}

.testimonials__carousel-item p {
  text-align: center;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 34px;
}

.testimonials__carousel-item p a {
  color: #B2DFDB;
}

.owl-carousel .owl-controls {
  text-align: center;
}

.owl-carousel .owl-controls .owl-dot {
  width: 15px;
  height: 15px;
  background: #BDBDBD;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.owl-carousel .owl-controls .owl-dot.active {
  background: #009688;
}

.order {
  background-color: #f6f8fa;
}

.order__form {
  margin-bottom: 45px;
  text-align: center;
}

.order__form-group {
  margin-bottom: 15px;
}

.order label {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

.order input, .order select, .order textarea {
  height: 34px;
  background-color: transparent;
  border: 1px solid #BDBDBD;
  padding: 5px 10px;
  transition: .3s;
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.6;
  color: #757575;
}

.order input:focus, .order select:focus, .order textarea:focus {
  border-color: rgba(0, 150, 136, 0.8);
  outline: none;
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order textarea {
  height: 100px;
  resize: none;
}

.order__btn {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  max-width: 158px;
  margin: 0 2px;
  padding: 13px 20px 14px;
  border-radius: 1000px;
  border: 0;
  background-color: #009688;
}

.order__btn:hover {
  background-color: #212121;
}
